<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Workout Forum</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>


<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul class="flex-row">
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/workout">Workouts</a></li>
      <li class="li-inline nav-item"><a href="/new">Post a Workout</a></li>
      <li class="li-inline nav-item"><a href="/about">About</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/workout">Your Workout</a></h1>
  </header>


  <main class="col-auto">
    {{{body}}}
  </main>
    {{!-- <div class="post card">
        <div class="card-header">
        <h2>Post Your Workout</h2>
        </div>
        <form id="new-post-form" class="workout-form card-body">
        <label class="form-label" for="post-title">Workout</label>
        <input type="text" name="post-title" class="form-input" />


        <label class="form-label" for="post-body">Description</label>
        <textarea name="post-body" class="form-input"></textarea>


        <label class="form-label" for="body-part">Body Part</label>
        <select name="body-part" class="form-input">
        <option value="">Select Body Part</option>
        <option value="Biceps">Biceps</option>
        <option value="Deltoids">Deltoids</option>
        <option value="Forearms">Forearms</option>
        <option value="Triceps">Triceps</option>
        <option value="Trapezius">Trapezius</option>
        <option value="Lats">Lats</option>
        <option value="Abs">Abs</option>
        <option value="Obliques">Obliques</option>
        <option value="Pectorals">Pectorals</option>
        <option value="Adductors">Adductors</option>
        <option value="Calves">Calves</option>
        <option value="Hamstrings">Hamstrings</option>
        <option value="Glutes">Glutes</option>
        <option value="Quads">Quads</option>
        <option value="other">Other</option>
        </select>


        <button type="submit" class="btn">Create</button>
        </form>
 
    </div> --}}


    {{!-- <footer class="flex-row justify-center">
        &copy; Copyright 2023 The Workout Forum Team
    </footer> --}}


  <footer class="flex-row justify-center">
    &copy; Copyright 2023 The Workout Forum Team
  </footer>
</body>
<script src="/js/new.js"></script>
<script src="/js/get-workout.js"></script>
<script src="/js/logout.js"></script>


</html>
