<main class="col-auto">
 

    <section class="purpose-section">
        <h1 class="app-title">Our Purpose</h1>
        <p><strong>The Workout Forum was created to foster a supportive fitness community where users can access and share various workout routines. <br> It aims to inspire and motivate individuals to try new exercises and challenges while providing a platform for users to contribute their own workout expertise. <br> By promoting collaboration and inclusivity, the website encourages users to achieve their fitness goals and lead healthier lives together.</strong></p>
    </section>


  <section class="profiles-section">
    <h1 class="app-title">Our Developers</h1> 
    <p><strong>View Our Work on GitHub!</strong></p>
    <div class="profiles-container">
      <div class="profile">
        <img src="/image/hayden.jpg" alt="Hayden">
        <p><a href="https://github.com/HaydenFelfe" target="_blank"><strong>Hayden Felfe</strong></a></p>
      </div>
      <div class="profile">
        <img src="/image/Jonathan.jpg" alt="Jonathan">
        <p><a href="https://github.com/Jpascual007" target="_blank"><strong>Jonathan Pascual</strong></a></p>
      </div>
      <div class="profile">
        <img src="/image/shawn.jpg" alt="Shawn">
        <p><a href="https://github.com/sptres" target="_blank"><strong>Seung Hyuk Park</strong></a></p>
      </div>
    </div>
  </section>

  <section class="contact-section">
    <h1 class="app-title">Contact Us</h1> 
    <p><strong>Need to get in touch with us? Either fill out the form with your inquiry or contact us via GitHub!</strong></p>
    <form class="contact-form">
      <label for="name"><strong>Name:</strong></label>
      <input type="text" id="name" name="name" required>

      <label for="email"><strong>Email:</strong></label>
      <input type="email" id="email" name="email" required>

      <label for="message"><strong>Message:</strong></label>
      <textarea id="message" name="message" required></textarea>

      <button type="submit" id="submit-btn" class="btn"><strong>Submit</strong></button>
    </form>
  </section>
</main>

