<div class="posts">
  {{#each workoutRoutines}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/api/workout-routines/{{bodypart}}">{{title}}</a>
      </h2>
      <div>
        Posted on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{description}}
    </div>
  </article>
  {{/each}}
</div>