<div class="post card">
  <div class="card-header">
    <h2>Post Your Workout</h2>
  </div>
  <form id="new-post-form" class="card-body" action="/api/workout-routines" method="POST">
    <label class="form-label" for="post-title">Workout</label>
    <input type="text" name="post-title" class="form-input" />


    <label class="form-label" for="post-body">Description</label>
    <textarea name="post-body" class="form-input"></textarea>


    <label class="form-label" for="body-part">Body Part</label>
    <select name="body-part" class="form-input">
        <option value="">Select Body Part</option>
        <option value="Biceps">Biceps</option>
        <option value="Deltoids">Deltoids</option>
        <option value="Forearms">Forearms</option>
        <option value="Triceps">Triceps</option>
        <option value="Trapezius">Trapezius</option>
        <option value="Lats">Lats</option>
        <option value="Abs">Abs</option>
        <option value="Obliques">Obliques</option>
        <option value="Pectorals">Pectorals</option>
        <option value="Adductors">Adductors</option>
        <option value="Calves">Calves</option>
        <option value="Hamstrings">Hamstrings</option>
        <option value="Glutes">Glutes</option>
        <option value="Quads">Quads</option>
        <option value="other">Other</option>
    </select>


    <button type="submit" class="btn">Create</button>
  </form>
</div>


<script src="/js/new.js"></script>
